@tailwind base;
@tailwind components;
@tailwind utilities;

.field {
    @apply .rounded .border .py-2 .px-3 .text-gray-800;
}

.field-label {
    @apply .mb-2 .uppercase .font-bold .text-lg .text-gray-900;
}

.field-group {
    @apply .flex .flex-col .mb-4;
}
